.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span.badge {
  margin-right: 5px;
  margin-left: 5px;
}

div.row{
  justify-content: space-around;
}

body{
  background-image: linear-gradient(90deg, white, currentColor);
}

.posterdiv{
  opacity: 0;
position:relative;
animation:mymove 1s ease-out forwards;

/* Safari and Chrome */
-webkit-animation:mymove 1s ease-out forwards;
}

@keyframes mymove
{ from {top:250px; opacity: 0;}
to {top:0px; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {top:200px; opacity: 0;}
to {top:0px; opacity: 1;}
}

/*chrome-scroll-white-blocks-fixed*/
.overflowHidden{
  overflow: hidden;
}